.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f2f2f2;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 64px;
}
.logo {
  width: 228px;
  height: 32px;
  z-index: 2;
}
.logo_place_header {
  background: url("../images/logo_place_header.svg");
  position: absolute;
  top: 30px;
  left: 64px;
}
.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
  margin: 0;
}
.header__subtitle {
  position: absolute;
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  bottom: 30px;
  z-index: 2;
}
.header_link {
  text-decoration: none;
  color: #2f80ed;
}
.header_main-illustration {
  position: absolute;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
  bottom: 0;
}
.header__square-pic {
  position: absolute;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
}
/*------------секция дискрипш*/
.description {
  display: flex;
  justify-content: center;
}
.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-top: 100px;
}
.two-columns__brief {
  margin:0;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.two-columns__main-text {
  margin: 0;
  width: 80%;
  min-width: 784px;
}
.two-columns__paragrapf{
  margin-top: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30;
}
.two-columns__paragrapf:nth-child(3) {
  margin-bottom: 0;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
/*-------------------секция диджтс*/
.digits {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.table {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 1100px;
  flex-wrap: wrap;
}
.table__cell {
  width: 250px;
  padding-top: 60px;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
}
/*----------------секция фейнмана*/
.feynman {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 890px;
}
.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  z-index: 2;
}
.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: auto;
  margin-top: 70px;
  z-index: 2;
}
.feynman__link {
  position: absolute;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  right: 0;
  top: 50%;
  margin: 0;
  margin-right: 48px;
  /* можно и ссылку поверх изображения, но она будет сливать с кругом синего цвета
  z-index: 2;
  */
}
.feynman__main-illustration {
  position: absolute;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: 1;
  bottom: 0;
}
/*---------------------------секция кауфман*/
.kaufman {
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  color: white;
}
/*не знаю зачем нужны эти классы если и без них всё работает, в задании они указаны
.section-title_theme_dark {
}
.section-subtitle_theme_dark {
}
*/
.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}
/*не знаю зачем нужны эти классы если и без них всё работает, в задании они указаны
.table__heading_theme_dark {
}
.table__text_theme_dark {
}
*/
.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  height: 877px;
  width: 877px;
}
/*--------------------секция  footer*/
.footer {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
}
.footer__columns {
  min-height: 250px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 1100px;
  flex-wrap: wrap;
  color: white;
  width: 90%;
}
.logo_place_footer {
  background: url("../images/logo_place_footer.svg");
}
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}
.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
.footer__column-link {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 16px;
}
.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}
.footer__column-links {
  text-decoration: none;
  color: white;
}
.footer__social-icon {
  margin-right: 10px;
}
